<!-- views/partials/table_sklep.ejs -->
<link rel="stylesheet" href="/table-styles.css">
<table border="1">
    <thead>
    <tr>
        <th>Gra</th>
        <th>Platforma</th>
    </tr>
    </thead>
    <tbody>
    <% posiadanie.forEach(function(posiadanie) { %>
        <tr>
            <td><%= posiadanie.gierka %></td>
            <td><%= posiadanie.platform_name%></td>
        </tr>
    <% }); %>
    </tbody>
</table>
